body{
    display: flex;
    flex-direction: column;
}

.contanier-navbar ul{
    display: flex;
    justify-content: space-between;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

.contaner-links{
    display: flex;
    gap: 8px;
}